<div class="title">
		<div class="container">
			<div class="title_topspace"></div>
				<div class="title_content">
					<h4>03</h4>
					<h1>ABOUT US</h1>
					<h4>Beauty is everywhere a welcome guest  -  von goethe</h4>
			</div>
	 </div>
   </div>  

	<br>
<br>	

    <div class="profile">
			<div class="container">
				<div class="sugang row">
					<div class="image col-sm-4">
						<img src="../assets/pupaider_Logo.PNG">
					</div>
					<div class="name col-sm-4">
						<table>
							<tr>
								<td style="width: 100%; border-left:2px solid #9D8D83; "> &nbsp; JU SU GANG </td>
							</tr>
							<tr>
								<td style="width: 100%; border-left:2px solid #9D8D83; "> &nbsp; 1994.04.04. </td>
							</tr>
							<tr>
								<td style="width: 100%; border-left:2px solid #9D8D83; "> &nbsp; Suwon </td>
							</tr>
						</table>
					</div>
					<div class="stat clo-sm-4">
						<table>
							<tr>
								<td> &nbsp; &nbsp; JU SU GANG </td>
								<td> <img src="nothing"> </td>
							</tr>
							<tr>
								<td> &nbsp; &nbsp; JU SU GANG </td>
								<td> <img src="nothing"> </td>
							</tr>
							<tr>
								<td> &nbsp; &nbsp; JU SU GANG </td>
								<td> <img src="nothing"> </td>
							</tr>
							<tr>
								<td> &nbsp; &nbsp; JU SU GANG </td>
								<td> <img src="nothing"> </td>
							</tr>
						</table>
					</div>
				</div>
				<div class="des">
					<p>
                   저는 제가 만든 것을 친구들한테 선물해주곤 했습니다. <br>
                친구가 기뻐하는 모습이 좋았기 때문입니다. <br>
                하지만 그것보단, 제가 작품을 만들면서 작품에 숨결을 넣는 듯한 이 행위 자체가 너무 매력적이다고 느꼈습니다. <br>
                어렸을 적부터 종이모형, 프라모델, 나무공예, 퍼즐, 포장, 팝업아트, 그림, 뜨개질 등 만들기라면 가리지 않았으며, <br>
                이 웹사이트 프로그래밍도 저에게는 아름다운 것을 만드는 연장선입니다. <br>
                     Pupaider의 백엔드를 주로 담당하며, 다른 작품처럼 공들일 겁니다.
					</p>										
				</div>
				<div class="changhyun row">
					<div class="image col-sm-4">
						<img src="../assets/pupaider_Logo.PNG">
					</div>
					
					<div class="name col-sm-4">
						<table>
							<tr>
								<td style="width: 100%; border-left:2px solid #9D8D83; "> &nbsp; PARK CHANG HYUN </td>
							</tr>
							<tr>
								<td style="width: 100%; border-left:2px solid #9D8D83; "> &nbsp; 1994.02.03. </td>
							</tr>
							<tr>
								<td style="width: 100%; border-left:2px solid #9D8D83; "> &nbsp; Pangyo </td>
							</tr>
						</table>
					</div>
					<div class="stat clo-sm-4">
						<table>
							<tr>
								<td> &nbsp; &nbsp; JU SU GANG </td>
								<td> <img src="nothing"> </td>
							</tr>
							<tr>
								<td> &nbsp; &nbsp; JU SU GANG </td>
								<td> <img src="nothing"> </td>
							</tr>
							<tr>
								<td> &nbsp; &nbsp; JU SU GANG </td>
								<td> <img src="nothing"> </td>
							</tr>
							<tr>
								<td> &nbsp; &nbsp; JU SU GANG </td>
								<td> <img src="nothing"> </td>
							</tr>
						</table>
					</div>
				</div>
				<div class="des">
					<p>
                   저는 아름다운 볼거리를 사랑하는 사람입니다. <br>
                  어렸을 적 부터 이쁘거나 아름다워 보이면 모으려는 노력이 강했습니다. <br>
                  또한 아름다운 그림, 영상, 음악 등 심미적으로 감명을 주는 것들을 찾아다녔습니다.<br>
                  이제는 즐기는 것을 넘어 직접 만들어 보고자 합니다. <br>
                  Pupaider의 디자인을 주로 담당하며, 많은 애정을 가지고 공들일 겁니다.<br>
					</p>
				</div>
					
				</div>
			</div>
    </div>

