<div class="jumbotrons">
	<div class="containers">
		<div class="main">
			<div class="divider">
				<h1>ju su gang</h1>
				<h4>crafter + programmer</h4>
				<br>
				<a href="page/sugang" class="btn-main">SEE PROJECTS</a>
			</div>
			<div class="divider">
				<h1>park chang hyun</h1>
				<h4>graphic designer + programmer</h4>
				<br>
				<a href="page/changhyun" class="btn-main">SEE PROJECTS</a>
			</div>
		</div>                
	</div>
</div>
	
 
