<div class="title">
    <div class="container">
		<div class="title_topspace"></div>
        <div class="title_content">
			<h4>01</h4>
			<h1>SUGANG</h1>
			<h4>Crafter + Programmer</h4>
		</div>
	</div>
</div>  
<div class="clearfix"></div>

<div class="posts">
	<div class="container">
		<div class="row">
			<%@posts.each do |post|%>
				<div class="col-sm-4">
					<p><%=post.title%></p>	
					<img src="../assets/<%=post.image%>">	
				</div>
			<%end%>
		</div>
	</div>
</div>
