.cardform{
	width:80%;
	height:100%;
	margin:auto;
}
.cardform h1 {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cardform h4 { 
  color: #928d82;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
} 
.cardhead{
	background-color: #928d82;
} 
.w3-btn{
	float:right;
	margin-bottom:10px;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #c59ea1;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
	 font-family: 'Raleway', sans-serif;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}


@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}


@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
