html, body {  
  margin: 0;  
  padding: 0;
}

.containers {
  
  margin: 0 auto;
  padding: 0 0; 
}

.w3-navbar {

  margin: 0;
  padding: 10px 20px 20px 0px;
  background-color:#fff;
}

.w3-navbar li {
  float:right!important;
  display: inline;
}
#icon{
  
  padding:-20px 0 0 0;
  float:left;
  display:inline;
}
.w3-navbar a {
  color: #9e8d83;
  font-family: 'Raleway', sans-serif; 
  font-weight: 600; 
  font-size: 18px;  
  text-decoration: none;  
  margin-right: 10px; 
}
.jumbotrons{ 
  background:url(http://postfiles11.naver.net/MjAxNzAyMDlfMTkz/MDAxNDg2NjQ3NDE4NDgw.K_XUMJK6R8A6EO94rsLTGxl8bNt-yGzGw3xfRfuIptQg.SapMbzqhW0ufuTKhhYWleRTjzlK-n5gfC-nA9nZs9Ngg.JPEG.tnrkd7679/index_bg.jpg?type=w580);
  background-size:cover;
  height: 800px;
}
.main {

  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #928d82;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 50px;
  text-transform: uppercase;  
}
.main h4 { 
  color: #928d82;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-transform: uppercase;  
}

.divider{
  float:left;
  width: 50%
}
.btn-main {
  
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 20px;  
  border: 1.8px solid #928d82; 
  color:#928d82; 
}


.clearfix {
  clear: both;
}

.footer {
  background-color: #928d82;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}
.footer table{
	margin: 0 auto;
}
.footer td{
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;  
  font-size: 15px;

}
