.title h1 {
  color: #928d82;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 50px;
  text-transform: uppercase;
	text-align:center;  
}
.title h4 { 
  color: #928d82;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-transform: uppercase;
	text-align:center;  
}
.title_topspace{
	width:100%;	
	height:30px;
}
.col-sm-4 img{
	margin:0 10px 20px 10px;
	width:100%;
}
.col-sm-4 h4 { 
  color: #928d82;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-transform: uppercase;
	text-align:center;  
}
.mymodalContent{
  background-color:  #cac4b6;
  color #777777;
  font-family: 'Nanum Gothic';  
  font-weight: 300;
  font-size: 20px;
  padding-top: 40px;
  text-align:center;
  line-height:1.4;
  margin:0;  
}
.mymodalTitle{

  background-color:  #cac4b6;
  color: #928d82;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 40px;
  padding-top: 20px;
  text-align:center; 
  margin:0; 
}
