<div class="clearfix"></div>
<div class="footer">
    <div class="containers">
		<table>
			<tr>
				<td style="width:190px; border-right:1px solid white; padding-right:12px; text-align:right;">ju su gang</td>
				<td style="width:190px; padding-left:12px; text-align:left">park chang hyun</td>
			</tr>
		
		</table>
		<br> 
        <p>copyright &copy; by Pupaider All right reserved</p>
    </div>
</div>

